[project]
name = "agent"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi>=0.129.0",
    "httpx>=0.28.1",
    "openai>=2.21.0",
    "playwright>=1.58.0",
    "pydantic>=2.12.5",
    "uvicorn>=0.41.0",
]
